@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
    font-family: 'poppins';
    background-color: #f1f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 2rem;
}

h1{
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
}

.square{
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 8.2rem;
    background-color: #5a28ff;
    border-radius: 15px;
    color: white;
}

.dot{
    font-size: 8rem;
}

.copyright{
   font-weight: 100;
   color: gray;
   text-align: center;
}


@media screen and (max-width: 480px) {
    h1{
        font-size: 2.5rem;
    }

    .main{
        gap: 5px;
    }

    .square{
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
    }

    .dot{
        font-size: 3rem;
    }
}
